/* close widget button */

a.boxclose{
    float:right;
    margin-top:-20px;
    margin-right:-20px;
    cursor:pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 30px;
    background: #605F61;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;
    z-index: 99999999 !important;
}

.boxclose:before {
    content: "×";
}

/*Elements to be deleted decorator */

.blockMio {
    /*	height: 100%;
        width: 100%;
        padding: 0.5em;
        min-height: 6em;*/
    border: 5px solid #000 !important;
    border: 5px solid rgba(0,0,0,1) !important;
    box-sizing:border-box;
    display: inline-block;
    z-index: 9999;
    position: relative !important;
    /*    top: 20%;
        left: 50%;*/
}

/*elements deleted in edition */

.wa_removed {
    border: 5px solid #000 !important;
    border: 5px solid rgba(255,0,0,1) !important;
    box-sizing:border-box;
    display: inline-block;
    z-index: 9999;
    position: relative !important;
    /*opacity: 0.5;*/
    background-color: rgba(255, 0, 0, 0.5);
}

/*Elements removed in deploy */

.wa_deployRemoved{
    display:none !important;
}

/*Disable menu elements */
.wa_menuDisable{
    display:none !important;
}

/* To show removed elements in deploy */
.wa_visibleHidden{
    z-index: 9999;
    background-color: rgba(255, 0, 0, 0.5) !important;
}

/*Menu bar CSS*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
#cssmenu {
    background: #f96e5b;
    width: auto;
    text-align: center;
}
#cssmenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1;
    display: block;
    zoom: 1;
}
#cssmenu ul:after {
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
}
#cssmenu ul li {
    display: inline-block;
    padding: 0;
    margin: 0;
}
#cssmenu.align-right ul li {
    float: right;
}
#cssmenu.align-center ul {
    text-align: center;
}
#cssmenu ul li a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 15px 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
    -webkit-transition: color .25s;
    -moz-transition: color .25s;
    -ms-transition: color .25s;
    -o-transition: color .25s;
    transition: color .25s;
}
#cssmenu ul li a:hover {
    color: #333333;
}
#cssmenu ul li a:hover:before {
    width: 100%;
}
#cssmenu ul li a:after {
    content: "";
    display: block;
    position: absolute;
    right: -3px;
    top: 19px;
    height: 6px;
    width: 6px;
    background: #ffffff;
    opacity: .5;
}
#cssmenu ul li a:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background: #333333;
    -webkit-transition: width .25s;
    -moz-transition: width .25s;
    -ms-transition: width .25s;
    -o-transition: width .25s;
    transition: width .25s;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
    display: none;
}
#cssmenu ul li.active a {
    color: #333333;
}
#cssmenu ul li.active a:before {
    width: 100%;
}
#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
    display: block;
}
#cssmenu.align-right li:first-child a:after {
    display: none;
}
@media screen and (max-width: 768px) {
    #cssmenu ul li {
        float: none;
        display: block;
    }
    #cssmenu ul li a {
        width: 100%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-bottom: 1px solid #fb998c;
    }
    #cssmenu ul li.last > a,
    #cssmenu ul li:last-child > a {
        border: 0;
    }
    #cssmenu ul li a:after {
        display: none;
    }
    #cssmenu ul li a:before {
        display: none;
    }
}